@import 'variables';

.about {
  width: 100%;
  min-height: 662rem;
}
.about-player {
  width: 100%;
  max-width: 765px;
  height: 459rem;
  display: inline-flex;
  padding: 84px 21px 0 66px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 109rem;
  transform: translateX(-150rem);
}

.about-player-background {
  position: relative;
  width: 484px;
  height: 268px;
  flex-shrink: 0;
  z-index: 3;
  transform: translate(57rem, -70rem);
}

.about-player-block {
  position: absolute;
  z-index: 4;
  width: 228px;
  height: 228px;
  flex-shrink: 0;
  transform: translate(-420rem, 100rem);
}

.about-player-main {
  display: flex;
  position: absolute;
  z-index: 5;
  width: 630px;
  height: 325px;
  flex-shrink: 0;
}

.player-btn {
  position: absolute;
  z-index: 6;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#openModalLink {
  cursor: pointer;
}

.about-title {
  padding-top: 240rem;
}

.about-title h4 {
  color: #1B75BB;
  font: 500 20rem Robot,sans-serif;
  padding-bottom: 15rem;
  line-height: 150%; /* 30px */
  letter-spacing: 2rem;
  text-transform: uppercase;
  opacity: .8;
}

.about-title h2 {
  width: 436rem;
  color: $text-color-1;
  padding-bottom: 30rem;
  /* Heading / Base */
  font: 500 33rem Gelasio, sans-serif;
  line-height: 1.25; /* 44.8px */
}





