@import 'variables';

.footer {
  width: 100%;
  min-height: 411rem;
  background: #FCFCFD;
}

.footer-title-logo {
  max-width: 144rem;
}

.footer-title {
  display: flex;
  justify-content: space-between;
  gap: 117rem;
  padding-left: 175rem;
  padding-top: 70rem;
}

.footer-title-info {
  width: 257rem;
  padding-top: 15rem;
  padding-bottom: 30rem;
  color: #081F32;
  font: 400 18rem Poppins, sans-serif;
  line-height: 1.25; /* 27px */
  opacity: .7;
}

.footer-title-email {
  color: #081F32;
  padding-bottom: 15rem;
  font: 400 16rem Poppins, sans-serif;
  line-height: 1.25;
  letter-spacing: 0.96px;
  opacity: .7;
}

ul {
  color: #081F32;
  font: 500 20rem Poppins, sans-serif;
  line-height: 150%; /* 30px */
}

li {
  padding-bottom: 20rem;
  color: #081F32;
  font: 500 16rem Poppins, sans-serif;
  line-height: 150%; /* 24px */
}

h3 {
  display: flex;
  flex-direction: column;
  padding-bottom: 30rem;
  color: #081F32;
  font: 500 20rem Poppins, sans-serif;
  line-height: 150%; /* 30px */
}


.subscribe-main-input .footer-input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.footer-icons a img {
  display: flex;
  width: 25rem;
  height: 25rem;
  margin-right: 15rem;
}

.footer-title-links-call {
  display: flex;

  align-items: center;
  gap: 10rem;
  padding-bottom: 20rem;
  color: $text-color-1;
  font: 500 16rem Poppins, sans-serif;
  line-height: 1.25;
}

.footer-title-links-call:hover {
  color: $text-color-2;
  transition: .5s;
}

.footer-title-links-call img {
  width: 25rem;
  height: 25rem;
}




