@import 'variables';

.header {
  width: 100%;
  min-height: 96rem;
  position: fixed;
  top: 3.5%;
  left: 0;
}

@media (max-width: 920px) {
  .header {
    top: 1%;
  }
}

.nav-logo-icon {
  width: 140rem;
  height: 80rem;
  max-width: 144rem;
  color: $text-color-1;
  font: 500 24rem Gelasio, sans-serif;
  line-height: 1.5;
}

@media (max-width: 920px) {
  .nav-logo-icon {
    width: 50rem;
    height: 50rem;
    margin-left: 15rem;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 40rem;
  margin-top: 30rem;
}

@media (max-width: 920px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu-link {
  display: flex;
  text-decoration: none;
  color: $text-color-1;
  font: 500 16rem Gelasio, sans-serif;
  line-height: 1.5;
  opacity: 0.7;
  transition: .5s;

  &.nav-menu-link:hover {
    color: #1B75BB;
    transition: .5s;
  }
}

li {
  list-style: none;
}


.btn {
  display: inline-flex;
  padding: 15px 30px;
  background: $text-color-2;
  align-items: flex-start;
  gap: 10px;
  color: #FFF;
  font: 500 16rem Gelasio, sans-serif;
  line-height: 1.5;
  border-radius: 5rem;
}

.btn:hover {
  transition: .7s;
  filter: brightness(115%);
}

@media (max-width: 920px) {
  .mobile-btn {
    display: none;
  }
}

.header-scrolled {
  background: rgba(255, 255, 255, 0.9); /* Adjust the alpha value for the desired blur effect */
  backdrop-filter: blur(10rem); /* Adjust the blur radius as needed */
  transition: background 0.5s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-bot: 20rem;
  min-height: 5rem;
}

