@import 'variables';

.subscribe-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-main h3 {
  color: #081F32;
  font: 500 20rem Roboto,sans-serif;
  padding-bottom: 20rem;
  line-height: 1.5; /* 30px */
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: .8;
  margin-top: 124rem;
}

@media (max-width: 920px) {
  .subscribe-main h3 {
    font: 500 18rem Roboto,sans-serif;
    margin-top: 50rem;
  }
}

.subscribe-main h2 {
  color: #081F32;
  text-align: center;
  font: 500 32rem Gelasio, sans-serif;
  line-height: 1.4; /* 44.8px */
  padding-bottom: 50rem;
}

@media (max-width: 920px) {
  .subscribe-main h2 {
    font: 500 28rem Gelasio, sans-serif;
    padding: 10rem;
  }
}

.subscribe-main-input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  margin-bottom: 124rem;
}

.subscribe-main-input input {
  display: inline-block;
  width: 350rem;
  padding: 15px 30px;
  align-items: flex-start;
  gap: 10px;
  border: 0;
  color: #081F32;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

#email {
  text-align: left;
}

.button-subscribe {
  min-width: 134rem;
  min-height: 54rem;
  background: $text-color-2;
  border: 0;
  border-radius: 5rem;
}

.subscribe-main-icons {
  display: flex;
  gap: 50rem;
  margin-top: 50rem;
  margin-bottom: 124rem;
}

@media (max-width: 920px) {
  .subscribe-main-icons {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    padding: 10rem;
    margin-bottom: 50rem;
  }
}

.subscribe-main img {
  width: 60rem;
  height: 60rem;
  opacity: 0.5;
  transition: .7s;
}

@media (max-width: 920px) {
  .subscribe-main img {
    width: 45rem;
    height: 45rem;
  }
}


.subscribe-main img:hover {
  cursor: pointer;
  opacity: 1;
  transition: .7s;
}