@import "variables";

.swiper {
  width: 1000rem;
  height: 550rem;
  border-radius: 5%;
  margin-bottom: 125rem;
  @media  (max-width: 920px) {
    width: 400rem;
    height: 400rem;
    margin-top: 50rem;
    margin-bottom: 50rem;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  gap: 10rem;
  padding: 10rem;
}


@media (max-width: 920px) {
  .grid-container {
    grid-template-columns: repeat(1,2fr);
    gap: 0;

  }
}

.grid-item {
  width: 100%;
  padding: 10rem;
  box-sizing: border-box;
}

.grid-item img a {
  width: 100%;
  object-fit: cover;
  min-height: 180rem;
  display: block;
}

@media (max-width: 920px) {
  .grid-item img{
    max-width: 100%;
    min-height: 150rem;
  }
}